<?php

return [
    'default' => 'mem1.5',

    'persistent_id' => null,

    'libketama_compatible' => false,

    'pool' => [
        'default' => [
            [
                'host'   => '127.0.0.1',
                'port'   => 11211,
                'weight' => 1,
                'sasl_auth' => false,
                'sasl_user' => '',
                'sasl_pswd' => '',
            ],

            // ...
        ],

        'users' => [
            [
                'host'   => '',
                'port'   => 11211,
                'weight' => 1,
            ],

            // ...
        ],
    ],
];